body {
	background-color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 60em;
	min-width: 750px;
	padding: 0;
	margin-left: 5em;
}

#navigator { 
	float: left;
	margin-top: 2em;
	width: 10em; 
}

#main {
	margin-left: 10em;
	margin-top: 2em;
	width: 46em;
}

p,a,td {
	font-size: 10pt;
}

h1 {
	font-size: 16pt;
}

h2 {
	width: 100%;
	font-size: 14pt;
	margin-top: 1cm;
	background-color: #e8e8e8;
}

h3 {
	font-size: 12pt;
}

pre {
	font-size: 9pt;
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
	overflow: auto;
}

pre.sourcecode {
    font-size: 9pt;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    overflow: auto;
	counter-reset: LineNumberCounter;
}

pre.sourcecode:hover code:before {
    content: "   ";
}

pre.sourcecode code:before {
    content: counter(LineNumberCounter, decimal-leading-zero ) " ";
	counter-increment: LineNumberCounter;
}

p.signature {
	width: 100%;
	font-family: "Courier New", monospaced;
	font-size: 9pt;
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
}

p.copyright {
    font-size: 8pt;
}

table.content {
	width: 100%;
	table-layout: fixed;
	border: 1px solid #d8d8d8;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.content td {
	border: 1px solid #d8d8d8;
}


table.content th {
	border: 1px solid #d8d8d8;
	text-align: left;
}

